{% extends "layout.html" %}

{% block body %}
<div >

     
    <div id="post-view" class="container-fluid py-5  w-50">
        <h4 class="ms-3">Following</h4>
        {% for item in posts%}      
        

        <div class="border border-dark m-3 p-2 rounded">

           <h5><span style='color:grey;font-size:15px;'>Posted by: </span><a style="font-weight: bold;color: blue;" href="/profile/{{item.owner.id}}">{{item.owner.username}}</a></h5>
           <h5 class="mt-2">{{item.content}}</h5>
           <p><span style='color:grey;'>{{item.created_at}}</span></p>


        </div>
        {%endfor%}
    </div>
    
    <div class="ml-3" id="pagination_view">
        
        
    </div>
</div>


{% endblock %}
