{% extends "layout.html" %}

{% block body %}

<div id="compose-view">
    <h3 class="ml-3">New Post</h3>
    <form action="/"  method="post">
       
        <textarea class="form-control w-75" id="compose-body" name="current_post" placeholder="What's happening?" autofocus></textarea>
        <br>
        <input type="submit" id="submit_button" class="btn btn-primary"/>
    </form>
</div>

<div id="profile-view">
  
    
</div>
<div id="post-view">
    {% for item in posts%}
    <h5>{{item.owner.username}}</h5>
    {%endfor%}
    
</div>

<div class="ml-3" id="pagination_view">
    
    
</div>

{% endblock %}
