{% extends "layout.html" %}

{% block body %}
    
<div id="profile_div">
    <div>
        <h2 class="ms-3">{{profile.username}}</h2>
        <div class="ms-3" id="follow_div">
            {%if current_user %}
            {%if not is_user%}
            {%if is_following %}
            <span class="badge bg-secondary ">Following</span><button class="badge bg-danger ms-2" id="unfollow_btn" data-profile_id="{{profile.id}}">Unfollow</button> {%else%}<button data-profile_id="{{profile.id}}" class="badge bg-success ms-2" id="follow_btn">Follow</button>
            {%endif%}
            {%endif%}
            {%endif%}
        </div>
        <h5 class="ms-3"></br><strong>{{profile.following|count}}</strong> <i>following </i>         <strong>{{profile.followers|count}}</strong> <i>followers</i><hr></h5>
        


    </div >
	<div id="prof_container" class="container">
		<div class="row">
			
				<div style="width: 400px" class="col">
					<img
						style="border-radius: 50%; width: 400px; height: 400px"
						{% if profile.profile_pic_addr %}
						src="{{profile.profile_pic_addr}}"
						{%else%}
						src="/static/blank.png"
						{%endif%}
						alt="" />
					{% if profile.first_name and profile.last_name%}
					<h3>{{profile.first_name}} {{profile.last_name}}</h3>
					{%elif profile.first_name %}
					<h3>{{profile.first_name}}</h3>
					{%elif profile.last_name %}
					<h3>{{profile.last_name}}</h3>
					{%else%}
					<h3>{{profile.username}}</h3>
					{%endif%}
				</div>
			

			<div style="width:700px;" class="col ms-4 pt-4">
                <table style="width:700px;" class="table table-striped" id="details_display">
                    <tr>
                        <th>Email</th> 

                        <td>{{profile.email|default('', true) }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{profile.first_name|default('', true) }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{profile.last_name|default('', true) }}</td>
                    </tr>                    
                 
                    <tr>
                        <td></td>
                        
                        <td><button class="btn btn-danger" id="profile_edit_btn">Edit</button></td>
                    </tr>
                    
                </table>
                <form id="profile_edit_form" class="form-group pt-1" style="display: none;width:700px;" action="/profile/{{profile.id}}" method="post">
                
                <div class="form-group">
                    
                    <label for="email">E-mail</label>
                    <input class="form-control" id="email" type="email" name="email" placeholder="Email Address" value="{{profile.email|default('', true)}}">
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input class="form-control" id="firstname"  type="text" name="firstname" placeholder="First name" value="{{profile.first_name|default('', true)}}">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" id="lastname"  type="text" name="lastname" placeholder="Last name" value="{{profile.last_name|default('', true)}}">
                </div>
                <div class="form-group">
                    <label for="profile">Profile URL</label>
                    <input class="form-control" type="url" id="profile" placeholder="Profile URL" name="profile_url" value="{{profile.profile_pic_addr|default('', true)}}">
                </div>
				<hr>
				<div class="form-group">
                    <label for="current_password"> Current Password</label>
                    <input class="form-control" id="current_password"  type="password" name="current_password" placeholder="Current Password" >
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input class="form-control" id="password"  type="password" name="password" placeholder="Password" >
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <input class="form-control" id="confirm"  type="password" name="confirmation" placeholder="Confirm Password" >
                </div>
                <input id="profile_submit_btn" class="btn btn-success mt-2" type="submit" value="Save">
            </form>
              </div>
                    
             
                
                
                
               

            </div>
		</div>
	</div>
   

    <div class="container-fluid py-5 ">
        <h3 class="ms-3">Posts</h3>
        {% for item in posts%}      
            
    
        <div id="display_div_{{item.id}}" class="border border-dark m-3 p-2 rounded w-75">

			<div class="row">
				<div class="col-9">
					<h5>
						<span style="color: grey; font-size: 15px">Posted by: </span
						><a
							style="font-weight: bold; color: blue"
							href="/profile/{{item.owner.id}}"
							>{{item.owner.username}}</a
						>
					</h5>
					<div id="index_content_div_{{item.id}}"><h6  class="mt-2">{{item.content}}</h6></div>
					<p><span style="color: grey">{{item.created_at}}</span></p>
					<button class="btn btn-outline-danger">
						<i style="font-size: 24px; color: red" class="fa">&#xf004;</i>
						{{item.likes}} Likes
					</button>
				</div>

				<div class="col-2 ">
					<div class="row">
						<button data-post_id="{{item.id}}" id="index_view_btn_{{item.id}}" class="btn btn-outline-success mb-1 w-75 view_btn">View</button>
					</div>
					{% if current_user%}
					{% if current_user.id== item.owner.id%}
					<div class="row"><!---->
						<button data-post_id="{{item.id}}" id="index_edit_btn_{{item.id}}" class="btn btn-outline-primary mb-1 w-75 edit_btn">Edit</button>
						<button style="display: none;" data-post_id="{{item.id}}" id="index_submit_btn_{{item.id}}" class="btn btn-primary mb-1 w-75 submit_btn">Submit</button>
					</div>

					<div class="row">
						<button data-post_id="{{item.id}}" id="index_delete_btn_{{item.id}}" class="btn btn-outline-danger mb-1 w-75 delete_btn">Delete</button>
					</div>
					{%endif%}
					{%endif%}
				</div>
			</div>
		</div>
        {%endfor%}

    </div>


</div>








{% endblock %}