{% extends "layout.html" %}

{% block body %}
    
<div id="profile_div">
    <div>
        <h2 class="ms-3">{{profile.username}}</h2>
        <div class="ms-3" id="follow_div">
            {%if current_user %}
            {%if not is_user%}
            {%if is_following %}
            <span class="badge bg-secondary ">Following</span><button class="badge bg-danger ms-2" id="unfollow_btn" data-profile_id="{{profile.id}}">Unfollow</button> {%else%}<button data-profile_id="{{profile.id}}" class="badge bg-success ms-2" id="follow_btn">Follow</button>
            {%endif%}
            {%endif%}
            {%endif%}
        </div>
        <h5 class="ms-3"></br><strong>{{profile.following|count}}</strong> <i>following </i>         <strong>{{profile.followers|count}}</strong> <i>followers</i><hr></h5>
        


    </div >
   

    <div class="container-fluid py-5 ">
        <h3 class="ms-3">Posts</h3>
        {% for item in posts%}      
            
    
        <div class="border border-dark m-3 p-2 rounded w-50">
    
          
           <h5 class="mt-2">{{item.content}}</h5>
           <p><span style='color:grey;'>{{item.created_at}}</span></p>
    
    
        </div>
        {%endfor%}

    </div>


</div>








{% endblock %}